# Binary
/must-gather-clean

# Goland IDE
.idea

# Tools Directory
bin/

# reports created by debugging/testing
/report.yaml

# cleaning result from e2e test
pkg/cli/testfiles/release-4.8.cleaned

# Compiled files
/dist
